name: Publish Nuget Package
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version Number'
        required: true
        type: string
      tag:
        description: 'Release Tag'
        required: true
        type: string
jobs:
  Publish-Nuget:
    env:
      GH_TOKEN: ${{ github.token }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: cd Nick.HtmlParser;dotnet build --no-restore --configuration Release;cd ..;
    - name: Test
      run: dotnet test --no-restore --verbosity normal
    - name: Publish
      run: dotnet pack -c Release -p:PackageVersion=${{ github.event.inputs.version }}
    - name: Push to Nuget
      run: dotnet nuget push ./Nick.HtmlParser/bin/Release/Nick.HtmlParser.${{ github.event.inputs.version }}.nupkg --api-key ${{ secrets.NUGETAPIKEY }} -s https://api.nuget.org/v3/index.json
    - name: Create Github Release
      run: gh release create ${{ github.event.inputs.tag }} --generate-notes
    - name: Clean
      run: dotnet clean
